@using Repositories.Helpers;
@inject Repositories.Interfaces.IRoleRepository repository
@inject Repositories.Interfaces.IUserRepository user_repo
@inject Repositories.Interfaces.ITeamRepository team_repo

@model Models.SearchModel.UserSearch

@{
	ViewData["Title"] = "Потребители";
}

<body class="bg-orange">
	<div class="row py-5 px-4">
		<div class="col-md-10 mx-auto" id="view">
			<table class="table rounded-pill filter-heading">
				<thead>
					<tr>
						<form asp-action="Search" asp-controller="User" method="get">
							<th scope="col" style="padding-bottom: 20px;">
								<input asp-for="FirstName" class="form-control dark-heading rounded-pill" placeholder="Въведете собствено име..." />
							</th>
							<th scope="col" style="padding-bottom: 20px;">
								<input asp-for="LastName" class="form-control dark-heading rounded-pill" placeholder="Въведете фамилия..." />
							</th>
							<th scope="col" style="padding-bottom: 20px;">
								<select asp-for="Role" class="form-control rounded-pill">
									<option selected>Избери роля...</option>
									@foreach (var role in repository.GetRoles())
									{
										<option>@role.Name</option>
									}
								</select>
							</th>
							<th scope="col" style="padding-bottom: 20px;">
								<select asp-for="Team" class="form-control rounded-pill">
									<option selected>Избери екип...</option>
									@foreach (var team in team_repo.GetTeams())
									{
										<option>@team.Name</option>
									}
								</select>
							</th>
							<th scope="col">
								<button type="submit" class="btn">
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-search" viewBox="0 0 16 16" style="margin-bottom: 15px;">
										<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
									</svg>
								</button>
							</th>
						</form>
					</tr>
				</thead>
			</table>
			<table class="table rounded-pill result-table">
				<tbody>
					@foreach (var user in Model.Results)
					{
                    <tr>
                        <td class="col-2" style="padding-left: 30px;">
                            <div class="bg-white rounded-pill p-2 text-center">
                                <a asp-controller="User" asp-action="Profile" asp-route-id="@user.UserName">
                                    <h5 class="dark-heading">@user.FirstName</h5>
                                </a>
                            </div>
                        </td>
                        <td class="col-2">
                            <div class="bg-white rounded-pill p-2 text-center">
                                <a asp-controller="User" asp-action="Profile" asp-route-id="@user.UserName">
                                    <h5 class="dark-heading">@user.LastName</h5>
                                </a>
                            </div>
                        </td>
                        <td class="col-2">
                            <div class="bg-white rounded-pill p-2 text-center">
                                <a asp-controller="User" asp-action="Profile" asp-route-id="@user.UserName">
                                    <h5 class="dark-heading">@user.Role.Name</h5>
                                </a>
                            </div>
                        </td>
                        @if (user.Team is not null)
                        {
                            <td class="col-2">
                                <div class="bg-white rounded-pill p-2 text-center">
                                    <a asp-controller="User" asp-action="Profile" asp-route-id="@user.UserName">
                                        <h5 class="dark-heading">@user.Team.Name</h5>
                                    </a>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td class="col-2">
                                <div class="bg-white rounded-pill p-2 text-center">
                                    <h5 class="dark-heading">No Team</h5>
                                </div>
                            </td>
                        }

                        @if (Logged.CEOAuth())
                        {
                            <td class="col-2 align-items-center text-center">
                                <div>
                                    <a asp-controller="User" asp-action="Delete" asp-route-id="@user.UserName">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="#303C6C" class="bi bi-backspace-fill edit-delete" viewBox="0 0 16 16">
                                            <path d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2V3zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8 5.829 5.854z" />
                                        </svg>
                                    </a>
                                </div>
                            </td>
                        }
                    </tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</body>
